

.phone{
  width:min(430px, 100%);
  min-height:100dvh;
  padding:16px 16px 32px;
  position:relative;
}
.header-wrapper {
  position: relative;
  width: 100%;
}

.header-img {
  width: 100%;
  height: 56px;
  object-fit: cover;
  border-radius: 12px;
  border: 2px solid #ccc;
  display: block;
  margin-bottom: 18px;
  overflow: hidden;
}

.topbar__bow {
  position: absolute;
  left: 10px;
  top: 65%;
  transform: translateY(-90%);
  width: 55px;
  height: auto;
  z-index: 2;
}

/* กรอบใหญ่กลาง */
.frame{
  background: #ffdce9;
  padding: 40px 20px;
  border-radius: 28px;
  border: 2px solid #e2e2e2;
  position: relative;     /* ⭐ เพิ่มบรรทัดนี้ */
  min-height: 600px;
}



/* กลุ่ม 4 ช่อง */
.choose-wrapper{
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.slot{
  width: 100%;
  max-width: 180px;
  aspect-ratio: 3 / 5;
  background: radial-gradient(circle, #ffb9d1, #ffdbe9 70%);
  border: 2px dashed #aa7a7a;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.plus{
  font-size: 22px;
  color: #444;
}

.slot p{
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.preview{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  border-radius: 20px;
}

.takephoto-wrapper {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%) scale(0.7); 
  display: flex;
  align-items: center;
  cursor: pointer;
}

.takephoto-icon{
  width: 200px;
  height: auto;
}

.takephoto-text{
  margin-left: 6px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  transform: translateY(-10px);
}